<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= siteName %> | <%= pageTitle %></title>
    <link rel="stylesheet" href="/static/css/home.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=block"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="jumbotron d-none d-sm-block"></div>
      <%- include(`../pages/${template}`) %> <%- include('./partials/scripts') %>
    </header>
    <div class="slider">
      <div class="slide active">
        <div class="bg container-xl">
          <%- include('./partials/slides') %>
        </div>

    <script src="../../static/js/scroll.js"></script>
    <script src="../../static/js/typingcarousel.js"></script>
  </body>
</html>
c92378be8aff4053a32c9635c544b0c8